body {
    background-color: rgb(233, 217, 217);
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
    position: absolute;
    top: 0;
}
nav {
   float: right;
   
  }
header div img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px 0 10px 20px;
    float: left;

}
li{
    background-color: #3b3f44;
}
nav ul li {
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 30px;
    
}
a {
    color: #fffbf3;
    text-decoration: none;
}
.head{
    text-align: center;
    color: aliceblue;
}
main{
    background-color: #000000c7;
}
.section1{
    margin: 188px;
    background-color: #3b3f44;
    padding: 30px;
    padding: 1px;
    box-shadow: -4px -2px 1px 3px #888888;

    
}
.name{
    text-align: center;
    font-size: 35px;
}

.myphoto{
    width: 350px;
    height: 330px;
}

.description{
font-size: 45px;
text-align: center

}
.tit{
    text-align: center;
    font-size: 37px;
}
.section2{
    margin: 188px;
    background-color: #203044;
    padding: 30px;
    padding: 1px;
    box-shadow: -4px -2px 1px 3px #888888;

}
input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
  }

.names{
    font-size: 25px;
    text-align: center;
}  
button{
    width: 100%;
    background-color: #cbd8cbee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}

footer{
    background-color: black;
    display: flex;    
    justify-content: space-between;
    align-items: center;

 }
 .copyright{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Explora', cursive;
font-family: 'Playfair Display', serif;
 }
 .information{
    color: white;
    float: right;
    margin:25px;
    font-size: 25px;
    padding: 5px 10px 30px 40px;
 }
 .contactus{
    color: white;
    float: left;
    margin:25px;
    font-size: 20px;
 }
